In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
seinfeld = pd.read_csv('seinfeld_episode_rankings.csv')

In [13]:
seinfeld

,Title,Plot,Quotability/cultural impact,Laughs,Total score,IMDb rating,IMDb rank,Notes,Season,episode
0,The Seinfeld Chronicles 1:1,4.0,7.0,7.0,18.0,7.6,76.0,2nd button joke,1.0,1.0
1,Male Unbonding 1:2,3.0,6.5,2.0,11.5,7.3,83.0,Kramer's pizza idea,1.0,2.0
2,The Stakeout 1:3,4.0,7.0,9.0,20.0,7.7,72.0,Art Vandelay first appearance,1.0,3.0
3,The Robbery 1:4,3.0,3.5,5.5,12.0,7.6,76.0,NaN,1.0,4.0
4,The Stock Tip 1:5,3.0,3.0,6.5,12.5,7.5,78.0,NaN,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...
174,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
175,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [14]:
seinfeld.columns=['title','plot','quotability','laughs','total_score','imdb_rating','imdb_rank','notes','season','episode']

In [38]:
seinfeld=seinfeld[0:68]

In [51]:
seinfeld.sort_values('total_score',ascending=False)

,title,plot,quotability,laughs,total_score,imdb_rating,imdb_rank,notes,season,episode
50,The Contest 4:11,5.0,10.0,31.0,46.0,9.6,1.0,first appearance of Estelle.,4.0,11.0
66,The Sniffing Accountant,4.0,10.0,27.5,41.5,8.0,60.0,"""heres to feeling good all the time""",5.0,4.0
59,The Junior Mint,4.0,10.0,27.0,41.0,8.7,11.0,"""DOLORES!!!""",4.0,20.0
52,The Pick 4:13,4.0,9.0,24.0,37.0,8.5,21.0,NaN,4.0,13.0
63,The Mango,4.0,7.0,25.5,36.5,8.4,24.0,"""you faked it?""",5.0,1.0
...,...,...,...,...,...,...,...,...,...,...
20,The Dog 3:4,3.0,3.0,7.0,13.0,7.3,83.0,NaN,3.0,4.0
14,The Baby Shower 2:10,3.0,3.0,7.0,13.0,7.5,78.0,NaN,2.0,10.0
4,The Stock Tip 1:5,3.0,3.0,6.5,12.5,7.5,78.0,NaN,1.0,5.0
3,The Robbery 1:4,3.0,3.5,5.5,12.0,7.6,76.0,NaN,1.0,4.0
1,Male Unbonding 1:2,3.0,6.5,2.0,11.5,7.3,83.0,Kramer's pizza idea,1.0,2.0

In [4]:
scripts = pd.read_csv('seinfeld_data/scripts.csv')

In [24]:
episodes = pd.read_csv('seinfeld_data/episode_info.csv')

In [27]:
episodes = episodes.drop(columns='Unnamed: 0')

In [31]:
episodes

,Season,EpisodeNo,Title,AirDate,Writers,Director,SEID
0,1.0,1.0,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,S01E01
1,1.0,1.0,The Stakeout,"May 31, 1990","Larry David, Jerry Seinfeld",Tom Cherones,S01E01
2,1.0,2.0,The Robbery,"June 7, 1990",Matt Goldman,Tom Cherones,S01E02
3,1.0,3.0,Male Unbonding,"June 14, 1990","Larry David, Jerry Seinfeld",Tom Cherones,S01E03
4,1.0,4.0,The Stock Tip,"June 21, 1990","Larry David, Jerry Seinfeld",Tom Cherones,S01E04
...,...,...,...,...,...,...,...
169,9.0,17.0,The Bookstore,"April 9, 1998",Spike Feresten,Andy Ackerman,S09E17
170,9.0,18.0,The Frogger,"April 23, 1998","Gregg Kavet, Andy Robin",Andy Ackerman,S09E18
171,9.0,19.0,The Maid,"April 30, 1998","Alec Berg, David Mandel, Jeff Schaffer",Andy Ackerman,S09E19
172,9.0,20.0,The Puerto Rican Day,"May 7, 1998","Alec Berg, Jennifer Crittenden, Spike Feresten...",Andy Ackerman,S09E20
173,9.0,23.0,The Finale,"May 14, 1998",Larry David,Andy Ackerman,S09E23

In [10]:
scripts = scripts.drop(columns='Unnamed: 0')

In [21]:
scripts.value_counts('Character').head(30)

Character
JERRY           14786
GEORGE           9708
ELAINE           7983
KRAMER           6664
NEWMAN            640
MORTY             505
HELEN             471
FRANK             436
SUSAN             379
[Setting          293
ESTELLE           286
PETERMAN          191
PUDDY             162
WOMAN             157
MAN               143
JACK              124
MICKEY            111
BANIA             102
STEINBRENNER      101
DOCTOR             91
CLERK              90
WILHELM            84
TIM                78
LIPPMAN            78
LLOYD              72
KAREN              72
LEO                72
UNCLE LEO          70
JACKIE             70
WAITRESS           66
dtype: int64